:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;

  color-scheme: light dark;
  color: #111;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --whitespace: 15px;
  --media-width: 200px;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 509px; /* hacks lol */
  margin: auto;
  padding: 80px 40px 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  position: relative;
  margin-bottom: calc(var(--whitespace) * 3);

  display: flex;
  gap: calc(var(--whitespace) * 4);
}

.cell {
  position: relative;
  background: #fff;

  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media {
  width: var(--media-width);
  position: relative;
  overflow: hidden;
}

.media img {
  width: 100%;
}

.label {
  position: relative;
  padding-top: 6px;
  text-transform: lowercase;
  text-align: center;
}

.label::after {
  content: '↑';
  position: absolute;
  bottom: -1.75rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
}

/* big bang */
.beginning {
  margin-top: calc(var(--whitespace) * 2);
}
.beginning .label::after {
  content: '';
}

/* crops */
.cell.galaxies .media {
  height: calc(var(--media-width) * 1);
}
.cell.galaxies .media img {
  margin-top: -10%;
}
.cell.organs .media {
  height: calc(var(--media-width) * 1.31);
}
.cell.organs .media img {
  margin-top: -4%;
}
.cell.biomolecules .media {
  height: calc(var(--media-width) * 1);
}
