:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;

  color-scheme: light dark;
  color: #111;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --whitespace: 15px;
  --media-width: 200px;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 509px; /* hacks lol */
  margin: auto;
  padding: 40px 40px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: flex;
  gap: calc(var(--whitespace) * 1);
}

.column {
  width: 50%;
}

.cell {
  position: relative;
  /* margin-bottom: calc(var(--whitespace) * 0.5); */
  padding: calc(var(--whitespace) * 1.5);
  padding-bottom: calc(var(--whitespace) * 1.25);
  background: #fff;
  /* border: 1px solid #aaa; */
}

.cell:not(:last-child) {
  border-bottom: none;
}

.media {
  width: var(--media-width);
  height: calc(var(--media-width) * 1);
  position: relative;
  overflow: hidden;
}

.media img {
  width: 100%;
  position: absolute;
}

.media img:not(.exception) {
  top: 50%;
  transform: translateY(-50%);
}

.label {
  padding-top: 6px;
  text-transform: lowercase;
  text-align: center;
}

/* special for columns */

.columns .cell:first-child {
  margin-bottom: calc(var(--whitespace) * 1);
  /* border: 1px solid #aaa; */
}

/* special for beginning */

.beginning {
  margin-top: calc(var(--whitespace) * 1.5);
}

.beginning .media {
  --beginning-width: calc(var(--media-width) * 1);
  width: var(--beginning-width);
  height: calc(var(--beginning-width) * 1.1);
}

.beginning .media img {
  bottom: 0;
}
