:root {
  font-family: sans-serif;

  color-scheme: light dark;
  color: #222;
  background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.levels {
  display: flex;
  flex-wrap: nowrap;
}

.level {
  flex: 0 0 auto;
  display: inline-block;
  padding: 10px;

  text-align: center;

  border: 1px solid #ddd;
}

.image {
  width: 200px;
  height: 200px;
  background-color: #ccc;
}

.label {
  text-transform: lowercase;
}
