:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;

  color-scheme: light dark;
  color: #111;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --whitespace: 20px;
  --media-width: 200px;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: calc(calc(var(--media-width) * 2) + var(--whitespace));
  margin: auto;
  padding: 20px 40px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem 0 2rem;
  text-transform: lowercase;
  font-family: serif;
  font-weight: normal;
  font-style: italic;
}

.columns {
  display: flex;
  gap: calc(var(--whitespace) * 1);
}

.column {
  width: 50%;
}

.cell {
  position: relative;
  margin-bottom: calc(var(--whitespace) * 1);
  padding: 10px;
  background: #fff;
  border: 1px dotted #888;
}

.cell::after {
  content: '↑';
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 100%;
}

.media {
  width: var(--media-width);
  height: calc(var(--media-width) * 1);
  position: relative;
  overflow: hidden;
}

.media img {
  width: 100%;
  position: absolute;
}

.media img:not(.exception) {
  top: 50%;
  transform: translateY(-50%);
}

.label {
  padding-top: 5px;
  text-transform: lowercase;
  text-align: center;
}

/* special for beginning */

.beginning {
  position: relative;
}

.beginning .cell::after {
  content: '';
}

.beginning .media {
  --beginning-width: calc(var(--media-width) * 1.75);
  width: var(--beginning-width);
  height: calc(var(--beginning-width) * 1.1);
}

.beginning .media img {
  bottom: 0;
}
